
.btn-pay {
    background-color: #e5e3e3;
    position: relative;
    height: 110px;
}

.cnt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-pay button {
    border: none;
    border-radius: 100%;
    padding: 0;
}
.img-btn {
    position: relative;
}

.img-btn img{
    display: block;
    max-width:200px;
    max-height:90px;
    width: auto;
    height: auto;   
}

.text-btn {
    position: absolute;
    top: 10px;
    left: 50%;
    font-size: 2em;
    color: #e4c566;
}