<div class="page-pro">
    <div class="container">
        <div class="title">菜單</div>
    <!--For Row containing all card-->
    <div id="products" class="row"> 
        <div class="col-md-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions"> 
                        <img src="/assets/images/product1.png" alt="product" class="img-responsive" width="300px" height="100%">
                    </div>
                </div>
                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2"> <a href="#" class="text-default mb-2" data-abc="true">Món ăn Hải Sản</a> </h6> 
                        <a href="#" class="text-muted" data-abc="true"><h2>Hải Sản Tôm Cua</h2> </a>
                    </div>
                    <h5 class="mb-0 font-weight-semibold">100.000 $</h5>
                    <button type="button" class="btn bg-cart"> 
                        <div class="img-btn">
                            <img src="/assets/images/btn.png" alt="btn" class="img-responsive">
                            <div class="text-btn"> 落單 </div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions"> 
                        <img src="/assets/images/product1.png" alt="product" class="img-responsive" width="300px" height="100%">
                    </div>
                </div>
                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2"> <a href="#" class="text-default mb-2" data-abc="true">Món ăn Hải Sản</a> </h6> 
                        <a href="#" class="text-muted" data-abc="true"><h2>Hải Sản Tôm Cua</h2> </a>
                    </div>
                    <h5 class="mb-0 font-weight-semibold">100.000 $</h5>
                    <button type="button" class="btn bg-cart"> 
                        <div class="img-btn">
                            <img src="/assets/images/btn.png" alt="btn" class="img-responsive">
                            <div class="text-btn"> 落單 </div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions"> 
                        <img src="/assets/images/product1.png" alt="product" class="img-responsive" width="300px" height="100%">
                    </div>
                </div>
                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2"> <a href="#" class="text-default mb-2" data-abc="true">Món ăn Hải Sản</a> </h6> 
                        <a href="#" class="text-muted" data-abc="true"><h2>Hải Sản Tôm Cua</h2> </a>
                    </div>
                    <h5 class="mb-0 font-weight-semibold">100.000 $</h5>
                    <button type="button" class="btn bg-cart"> 
                        <div class="img-btn">
                            <img src="/assets/images/btn.png" alt="btn" class="img-responsive">
                            <div class="text-btn"> 落單 </div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions"> 
                        <img src="/assets/images/product1.png" alt="product" class="img-responsive" width="300px" height="100%">
                    </div>
                </div>
                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2"> <a href="#" class="text-default mb-2" data-abc="true">Món ăn Hải Sản</a> </h6> 
                        <a href="#" class="text-muted" data-abc="true"><h2>Hải Sản Tôm Cua</h2> </a>
                    </div>
                    <h5 class="mb-0 font-weight-semibold">100.000 $</h5>
                    <button type="button" class="btn bg-cart"> 
                        <div class="img-btn">
                            <img src="/assets/images/btn.png" alt="btn" class="img-responsive">
                            <div class="text-btn"> 落單 </div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions"> 
                        <img src="/assets/images/product1.png" alt="product" class="img-responsive" width="300px" height="100%">
                    </div>
                </div>
                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2"> <a href="#" class="text-default mb-2" data-abc="true">Món ăn Hải Sản</a> </h6> 
                        <a href="#" class="text-muted" data-abc="true"><h2>Hải Sản Tôm Cua</h2> </a>
                    </div>
                    <h5 class="mb-0 font-weight-semibold">100.000 $</h5>
                    <button type="button" class="btn bg-cart"> 
                        <div class="img-btn">
                            <img src="/assets/images/btn.png" alt="btn" class="img-responsive">
                            <div class="text-btn"> 落單 </div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions"> 
                        <img src="/assets/images/product1.png" alt="product" class="img-responsive" width="300px" height="100%">
                    </div>
                </div>
                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2"> <a href="#" class="text-default mb-2" data-abc="true">Món ăn Hải Sản</a> </h6> 
                        <a href="#" class="text-muted" data-abc="true"><h2>Hải Sản Tôm Cua</h2> </a>
                    </div>
                    <h5 class="mb-0 font-weight-semibold">100.000 $</h5>
                    <button type="button" class="btn bg-cart"> 
                        <div class="img-btn">
                            <img src="/assets/images/btn.png" alt="btn" class="img-responsive">
                            <div class="text-btn"> 落單 </div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions"> 
                        <img src="/assets/images/product1.png" alt="product" class="img-responsive" width="300px" height="100%">
                    </div>
                </div>
                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2"> <a href="#" class="text-default mb-2" data-abc="true">Món ăn Hải Sản</a> </h6> 
                        <a href="#" class="text-muted" data-abc="true"><h2>Hải Sản Tôm Cua</h2> </a>
                    </div>
                    <h5 class="mb-0 font-weight-semibold">100.000 $</h5>
                    <button type="button" class="btn bg-cart"> 
                        <div class="img-btn">
                            <img src="/assets/images/btn.png" alt="btn" class="img-responsive">
                            <div class="text-btn"> 落單 </div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions"> 
                        <img src="/assets/images/product1.png" alt="product" class="img-responsive" width="300px" height="100%">
                    </div>
                </div>
                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2"> <a href="#" class="text-default mb-2" data-abc="true">Món ăn Hải Sản</a> </h6> 
                        <a href="#" class="text-muted" data-abc="true"><h2>Hải Sản Tôm Cua</h2> </a>
                    </div>
                    <h5 class="mb-0 font-weight-semibold">100.000 $</h5>
                    <button type="button" class="btn bg-cart"> 
                        <div class="img-btn">
                            <img src="/assets/images/btn.png" alt="btn" class="img-responsive">
                            <div class="text-btn"> 落單 </div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions"> 
                        <img src="/assets/images/product1.png" alt="product" class="img-responsive" width="300px" height="100%">
                    </div>
                </div>
                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2"> <a href="#" class="text-default mb-2" data-abc="true">Món ăn Hải Sản</a> </h6> 
                        <a href="#" class="text-muted" data-abc="true"><h2>Hải Sản Tôm Cua</h2> </a>
                    </div>
                    <h5 class="mb-0 font-weight-semibold">100.000 $</h5>
                    <button type="button" class="btn bg-cart"> 
                        <div class="img-btn">
                            <img src="/assets/images/btn.png" alt="btn" class="img-responsive">
                            <div class="text-btn"> 落單 </div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <!-- <div class="col-4"> 
            <div class="inf-pro mx-3"> 
                <img src="/assets/images/product1.png" alt="product" class="img-responsive img-thumbnail"> 
                <div class="card-title"><p>Món ăn Hải Sản</p></div>
                <h2>Hải Sản Tôm Cua</h2> 
                <dl class="dl-horizontal"> 
                    <h5>100.000 $</h5>
                </dl>
                <a href="#" class="btn" title="choosse">
                    <button>
                        <div class="img-btn">
                            <img src="/assets/images/btn.png" alt="btn" class="img-responsive">
                            <div class="text-btn"> 落單 </div>
                        </div>
                    </button>
                </a> 
            </div> 
        </div>  -->
    </div> 
    </div>
    
</div>