<div class="body-content">
    <div class="container">
        <div class="ima">

            <div class="text">
                <span class="sf">seafood</span><br>
                <span class="rf">fried rice</span>
            </div>
        </div>
    
        <div class="btn-pay">
            <div class="cnt">
                <button>
                    <div class="img-btn">
                        <img src="/assets/images/btn.png" alt="btn" class="img-responsive">
                        <div class="text-btn"> 落單 </div>
                    </div>
                </button>
            </div>
        </div>
        <div class="card-title"><h1>張媽餛飩有咩好</h1></div>
        <div class="card-deck">
            
            <div class="card">
                <div class="card-img">
                    <img class="card-img-top" src="/assets/images/source-protein-vegetarians-top-view-healthy-food-clean-eating.png" alt="Card image">
                    <div class="card-img-overlay">
                        <a href="#" style="text-align: center;">Nguyên Liệu Sạch</a>
                    </div>
                </div>
                
                <div class="card-body">
                  <ul>
                      <li>Sử dụng 100% Rau, Củ, Quả đạt chuẩn VietGAP</li>
                      <li>Tất cả các nguyên liệu sử dụng đều đảm bảo nguồn gốc rõ ràng</li>
                      <li>Nguyên liệu nhập tươi mỗi ngày</li>
                  </ul>
                </div>
              </div>
              <div class="card">
                <div class="card-img">
                    <img class="card-img-top" src="/assets/images/layer30.png" alt="Card image">
                    <div class="card-img-overlay" style="top: 30%;">
                        <a href="#" style="text-align: center;">Chế biến<br>theo phương pháp<br>tốt cho sức khoẻ</a>
                    </div>
                </div>
                
                <div class="card-body">
                    <ul>
                        <li>Hạn chế tối đa dầu mỡ, gia vị</li>
                        <li>Nói không với các chất tạo màu và hương vị nhân tạo</li>
                        <li>Tuyệt đối không dùng bột ngọt (mì chính)</li>
                        <li>Chủ yếu dùng các loại gia vị tươi như hành, tỏi, ớt, và các loại rau thơm tươi để tạo vị cho món ăn</li>
                    </ul>
                </div>
              </div>
              <div class="card">
                <div class="card-img">
                    <img class="card-img-top" src="/assets/images/layer31.png" alt="Card image">
                    <div class="card-img-overlay">
                        <a href="#" style="text-align: center;">Hương vị thơm ngon như cơm mẹ nấu</a>
                    </div>
                </div>
                
                <div class="card-body">
                <ul>
                    <li>Nấu theo công thức nhà làm</li>
                    <li>Cẩn thận, tỉ mỉ đến từng chi tiết nhỏ nhất như cơm mẹ nấu</li>
                </ul>
                </div>
              </div>
              <div class="card">
                <div class="card-img">
                    <img class="card-img-top" src="/assets/images/layer12.png" alt="Card image">
                    <div class="card-img-overlay">
                        <a href="#" style="text-align: center;">GIAO HÀNG<br>TẬN NƠI</a>
                    </div>
                </div>
                
                <div class="card-body">
                  <ul>
                      <li>Thực phẩm tươi sạch được chế biến mỗi ngày</li>
                        <li>Giao hàng tận nơi</li>
                        <li>Ưu đãi phí ship khi sử dụng gói định kỳ</li>
                  </ul>
                </div>
              </div>
        </div>
    </div>
    
</div>

<app-products></app-products>